<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_20180103:war exploded">
    <output-path>$PROJECT_DIR$/target/springmvc_20180103</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_20180103" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:jstl-api:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.1" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-jpa:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.8.12" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springmvc_20180103/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc_20180103/web/Web" />
    </root>
  </artifact>
</component>